body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100vh;
    width: 100vw;
}

.legend {
    line-height: 18px;
    color: #343434;
    background-color: #c2d4d4;
}
.legend {
    width: auto;
    height: auto;
    float: left;
    margin-right: 8px;
    margin-bottom: 8px;
    opacity: 1;
}
